<h4>Internal Server Error - Refreshing the page will make the error disappear!</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">
        Error: {{error.message}}
    </h5>
    <p class="font-weight-bold">If you are seeing this then Developer is probably not to blame :)</p>
    <p>What to do next ? Enter the geek mode!!</p>
    <ol>
        <li>Open the chrome dev tools</li>
        <li>Inspect the network tab</li>
        <li>Check the failing requests</li>
        <li>Examine the request URL - make sure it is correct</li>
        <li>Reproduce the error in postman - If you see the same response, then Developer should be cursed! ;( </li>
    </ol>
    <p>Following is the stack-trace. This is where your investingation shoud start! </p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>